/* font-family: 'Kumbh Sans', sans-serif; */

:root {
  --color-very-dark-desaturated-blue: hsl(238, 29%, 16%);
  --color-soft-red: hsl(14, 88%, 65%);
  /* #### Gradient
Background gradient: */
  --color-soft-violet: hsl(273, 75%, 66%);
  --color-soft-blue: hsl(240, 73%, 65%);
  /* ### Neutral
#### Text */
  --color-very-dark-grayish-blue: hsl(237, 12%, 33%);
  --color-dark-grayish-blue: hsl(240, 6%, 50%);
  /* #### Dividers */
  --color-light-grayish-blue: hsl(240, 5%, 91%);
  --font: "Kumbh Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

@media only screen and (max-width: 60.625em) {
  html {
    font-size: 50%;
  }
}

body {
  background-image: linear-gradient(
    var(--color-soft-violet),
    var(--color-soft-blue)
  );
  color: var(--color-dark-grayish-blue);
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 1.4rem;
  font-family: var(--font);
  line-height: 1.6;
  font-weight: 400;
  position: relative;
  min-height: 100vh;
}

.pic__mobile {
  display: none;
}

.container {
  background-color: white;
  background-image: url(images/bg-pattern-desktop.svg);
  background-size: 85%;
  background-position: -300% 80%;

  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  width: 100rem;
  max-width: 90%;
  padding: 5rem 4rem 5rem 0;
  border-radius: 3rem;
  /* min-height: 40rem; */
}

.pic__desktop {
  transform: translateX(-15%);
  max-width: 50rem;
}

.container__hero {
  overflow: hidden;
  width: 50%;
}

.box {
  display: block;
  position: absolute;
  top: 18rem;
  left: -10rem;
  z-index: 1;
}

/* FAQ */
.faq {
  padding: 0rem 4rem;
  width: 50%;
}

.faq-box {
  border-bottom: 1px solid var(--color-light-grayish-blue);
}

.faq-box:not(:last-child) {
  margin-bottom: 2rem;
}

.faq__heading {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--color-very-dark-grayish-blue);
  margin-bottom: 5rem;
}

.faq__question {
  display: flex;
  cursor: pointer;
  justify-content: space-between;
  align-items: center;
  /* padding-bottom: 1.4rem; */
}

.faq__question p {
  color: var(--color-very-dark-grayish-blue);
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
}

.faq__question img {
  /* transform: rotate(180deg); */
  cursor: pointer;
  display: block;
  height: 8px;
  transition: all 0.4s ease-in;
}

.answer {
  max-height: 0;
  overflow: hidden;
  margin-bottom: 1.4rem;
  width: 95%;
  transition: 0.4s all;
}

.active {
  font-weight: 700;
}

.arrow-active {
  transform: rotate(180deg);
  transition: all 0.4s ease-in;
}

@media only screen and (max-width: 50em) {
  .faq {
    padding: 2rem 0rem;
    width: 100%;
  }

  .container {
    margin-top: 7rem;
    flex-direction: column;
    width: 55rem;
    max-width: 90%;
    background-color: white;
    background-image: url(images/bg-pattern-mobile.svg);
    background-position: 47% -2%;
    background-size: 30rem;
    padding: 4rem;
    margin-bottom : 5rem;
  }
  .container__hero {
    overflow: visible;
    width: 100%;
    height: 10rem;
  }

  .pic__desktop {
    display: none;
  }

  .pic__mobile {
    display: block;
    margin: auto;
    transform: translateY(-72%) translateX(-2.5rem);
  }

  .box {
    display: none;
  }

  .faq__heading {
    width: min-content;
    margin-right: auto;
    margin-left: auto;
    font-size: 4.5rem;
  }

  .faq__question p {
    padding-right: 0.5rem;
  }
}
